# --- Obsidian UI & Layout ---
# Evita bloqueos por mover pestañas o cambiar el zoom
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspace*.json
.obsidian/graph.json
.obsidian/appearance.json
.obsidian/app.json
.obsidian/plugins/obsidian-file-color/data.json
.obsidian/plugins/obsidian-git/obsidian_askpass.sh
.obsidian/* (conflict *).json

# --- Archivos Temporales y de Sistema ---
.trash/
*.conflict*
.DS_Store
Thumbs.db
*.tmp

# --- Seguridad y Logs ---
# Por si acaso instalas plugins que generen logs de error
*.log
# NUNCA subir archivos con credenciales sueltas si llegas a usar scripts de Python
.env
__pycache__/
*.py[cod]

# --- Backups de Plugins ---
# Algunos plugins crean copias de seguridad locales que no necesitas en GitHub
.obsidian/plugins/*/*.bak